.icon-btn{

}

.form-title{
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.form-panel-title{
    -fx-background-color: rgb(34, 106, 179);
    -fx-border-radius: 15 15 0 0;
    -fx-background-radius: 10 10 0 0;
}

.form-panel-container{
    -fx-background-color: rgb(246, 246, 246);
    -fx-border-radius: 0 0 15 15;
    -fx-background-radius: 0 0 15 15;
    -fx-border-color: #bbbbbb;
    -fx-border-style:solid;
    -fx-border-width: 0 2px 2px 2px;
}

.jeprolab-toolbar{
    -fx-base: rgb(74, 75, 78);
    -fx-font-size: 10pt;
    -fx-background-color:
    linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
    linear-gradient(to bottom, rgb(87, 89, 92) 2%, rgb(74, 75, 78) 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .4em 0.416667em .4em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}

.jeprolab-toolbar .spacer{ -fx-padding: 0 5.417em 0 0; }

.segmented-command-wrapper{ -fx-padding: .1em 2em; }
.segmented-command-wrapper.button, .segmented-command-wrapper .toggle-button.first{}
.segmented-command-wrapper.button, .segmented-command-wrapper .toggle-button.last{}

.input-label{
    -fx-font-weight: bold;
}

.text-left{
    -fx-alignment: baseline-left;
}

.radio-button{

}

.radio-button .dot{
    -fx-content-display:none;
}

.installer-header{
    -fx-background-image: url("../../resources/images/jeprodesign.jpg");
}

#installer-title{
    -fx-font-weight: normal;
    fx-font-style: italic;
    -fx-font-size:1.4em;
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd;
}

#current-step-title{
    -fx-text-fill:white;
}
.window-command-btn{
    -webkit-fx-background-color: transparent;
    -moz-fx-background-color: transparent;
    -ms-fx-background-color: transparent;
    -o-fx-background-color: transparent;
    -fx-background-color: transparent;
}

#windows-bar{
    -fx-background-image: url("../../resources/images/toolbar_bck.png");
    -fx-border-radius: 5, 5, 0, 0;
    -fx-background-radius: 5, 5, 0, 0;
    /* -fx-base: -dark-black;
    -fx-font-size: 12pt; /*
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
    linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0); */
}

#application-title{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: ghostwhite;
    -fx-stroke: white;
}